
<style>h2 {color: darkblue;}</style>
<div style=" float: left;">
    <label>Date:</label>
    <input ng-model="ctrl.date" required="" type="date" min="2016-01-01" max="2016-12-31" class="form-control ng-pristine ng-valid-min ng-valid-max ng-invalid ng-invalid-required ng-touched" style="width: 15em;">

</div>

<div style=" float: left;">
    <label>From:</label>
    <select id="origin" ng-model="ctrl.from" class="form-control ng-pristine ng-valid ng-touched" style="width: 10em;"><option value="? undefined:undefined ?"></option>
        <option value="SXF">Berlin</option>
        <option value="CPH">Copenhagen</option>
        <option value="STN">London</option>
        <option value="CDG">Paris</option>
        <option value="BCN">Barcelona</option>
    </select>
</div>


<div style=" float: left;">
    <label>Destination:</label>
    <select id="origin" ng-model="ctrl.to" class="form-control ng-pristine ng-valid ng-touched" style="width: 10em;"><option value="? undefined:undefined ?"></option>
        <option value="SXF">Berlin</option>
        <option value="CPH">Copenhagen</option>
        <option value="STN">London</option>
        <option value="CDG">Paris</option>
        <option value="BCN">Barcelona</option>
    </select>
</div>
<label>{{ctrl.date}}</label>
<div style=" float: left;">
    <label>Seats:</label>
    <input type="text" id="seats" ng-model="ctrl.persons" style="width: 4em;" class="form-control ng-pristine ng-valid ng-touched">
</div>
<div style=" float: left;">
    <br>
    <button type="button" class="btn btn-primary" ng-click="ctrl.search()" style="margin-left: 1em;">SEARCH</button>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Airline</th>
                <th>FlightId</th>
                <th>NumberOfSeats</th>
                <th>TotalPrice</th>
                <th>TravelTime</th>
                <th>Origin</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ctrl.flights.airlines}}</td>
<!--                <td>{{flight.flightID}}</td>
                <td>{{flight.flights.numberOfSeats}}</td>
                <td>{{flight.flights.totalPrice}}</td>
                <td>{{flight.flights.traveltime}}</td>
                <td>{{flight.flights.origin}}</td>-->
            </tr>
        </tbody>
    </table>
</div>